.AddListButton {
  display: flex;
  align-items: center;
  color: #7e899c;
  height: 2.5rem;
  width: 16rem;
  margin: 8px 7px 8px 7px;
  padding: 0.3rem;
  padding-left: 1rem;
  border-radius: 4px;
  background-color: #3d99ce;
  color: white;
  border: none;
  border-radius: 4px;
}

.AddListButton:hover {
  background-color: #499fd1;
}

.plus-icon {
  display: flex;
  width: 1.2rem;
  padding-right: 0.4rem;
}
