.FormAddList {
  display: flex;
  flex-direction: column;
  width: 16rem;
  margin: 8px 7px 8px 7px;
  padding: 0.4rem;
  border-radius: 4px;
  color: #2b3d5c;
  background-color: #ebecf0;
}

.list-input-name {
  border: 3px solid #0079bf;
  margin-bottom: 0.3rem;
  padding: 0.4rem;
  border-radius: 3px;
}

.list-input-name:focus {
  outline: none;
}

.list-input-button {
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #0079bf;
  padding: 0.4rem 0.6rem;
  width: 4rem;
}
