.List {
  display: flex;
  flex-direction: column;
  width: 16rem;
  justify-content: space-between;
  min-height: 4.7rem;
  margin: 8px 7px 8px 7px;
  padding: 0.7rem 1rem 0.9rem 1rem;
  border-radius: 4px;
  color: #2b3d5c;
  background-color: #ebecf0;
}

.list-add-card {
  display: flex;
  color: #7e899c;
  padding: 0.3rem;
  border-radius: 4px;
}

.list-add-card:hover {
  background-color: #d3d5de;
}

.plus-icon {
  display: flex;
  width: 1.2rem;
  padding-right: 0.4rem;
}
